#Disable index view
#options -Indexes

#hide a Specifuc File

<Files ~ .env|.p12>
order allow,deny
Deny from all
</Files>

# Add MIME types for web manifest files
AddType application/manifest+json webmanifest
AddType application/manifest+json json